<div class="patient-list">
    <h1>Patient List</h1>
    <button (click)="navigateToCreate()">Create New Patient</button>
    <button (click)="navigateToFind()">Find Patient by ID</button>
    <button (click)="navigateToRegister()">User register</button>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td>{{patient.dateOfBirth | date}}</td>
                <td>{{patient.gender}}</td>
                <td>{{patient.address}}</td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>